:root{
    --main-color:rgba(174, 237, 38, 0.859);
    --secondary-color:#211a1a;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
}
header a{
    color:var(--main-color);
}
header nav a{
    margin:0 1rem;
    text-transform: uppercase;
    font-size:1.5rem;
    padding:.5rem;
    border-radius: .5rem;
    transition: .3s;
}
header nav a:hover{
    background-color: var(--main-color);
    color:white;
}
.body{
    display: flex;
}
aside{
    background-color: var(--main-color);
    padding:1rem;
    border-radius: 1rem;
    margin:1rem;
    width:25vw;
    height:calc(100vh - 110px);
}
aside h2{
    color:var(--secondary-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
aside span{
    display: block;
    font-size:1.3rem;
    margin:0 0 .5rem 1rem;
}
.body .content{
    width:75vw;
    padding:1rem;
    margin:1rem;
    background-color: #eee;
    border-radius:1rem;
}
.body .content form{
    display: flex;
    justify-content: center;
}
.body .content form table{
    width:100%;
    text-align: center;
}
#emailHome{
    width:30%;
    padding:.5rem 1rem;
    margin:1rem 0;
    border:1px solid var(--secondary-color);
    border-radius: .5rem;
}
#emailHome:focus{
    outline:none;
}
input[type=submit]{
    width:120px;
    border:none;
    border-radius: .5rem;
    padding:.5rem 1rem;
    background-color: var(--main-color);
    color:var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
input[type=submit]:hover{
    color:#777;
}
input[type=reset]{
    width:120px;
    border:none;
    border-radius: .5rem;
    padding:.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-weight: bold;
    cursor:pointer;
    transition:.3s;
}
input[type=reset]:hover{
    color:#ccc;
}

section.add-sport{
    background-color: #eee;
    padding:1rem;
    border-radius:  1rem;
    margin:1rem;
}
.add-sport .data1,.add-sport .data2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    border:1px solid #ddd;
    border-radius: 1rem;
    padding:1rem;
    width:80%;
    margin-left: auto;
    margin-right:auto;
}
.add-sport .data{
    padding:1rem;
    margin:1rem;
    width: 600px;
}
.add-sport .data h2{
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.add-sport .data table{
    width:100% ;
}
.add-sport .data .input,.add-sport .data .select{
    width:100%;
    padding:.5rem 1rem;
    margin-bottom: 1rem;
    border:none;
    border-radius: 1rem;
}
.add-sport .data .input:focus{
    outline:none;
}
.add-sport #form1effect{
    position:relative;
    top:3rem;
    text-align: center;
}
.add-sport label{
    display: block;
    font-weight: bold;
    font-size:1.4rem;
    margin-bottom:1rem;
}
.welcome{
    display: flex;
    justify-content: center;
    margin-top:2rem;
    font-size:2rem;
}
.welcome .name{
    margin:0 1rem;
    text-transform: capitalize;
    color:var(--main-color);
}
.search{
    background-color: #efefef;
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    height:calc(100vh - 120px);
}
.search form{
    border:1px solid #ddd;
    border-radius:1rem;
    padding:2rem;
    margin:1rem;
    max-height: 300px;
}
.search .input{
    width:414px;
    border:none;
    border-radius:.5rem;
    padding:.5rem 1rem;
    margin-bottom: 1rem;
}
.search label{
    display: block;
    font-size:1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.search input[type=submit]{
    margin-top:2rem;
}
.table-result table{
    border:1px solid var(--main-color);
    border-spacing: none;
}
.table-result table tr td{
    padding:.5rem;
    text-align: center;
}